*{margin: 0;
    padding: 0;
    font-family: Broadway;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url("media/image2.jpg");
    background-size: contain;
    background-position: center;
}
.navbar{
    margin-right: 60%;
}
.navbar h1{
    font-size: xxx-large;
    font-family: Broadway;
    margin-right: 30%;

}